body {
    margin: 10em;
    background: rgb(238, 238, 238);
    font-family: Georgia, serif;
    font-size: 1em;
    line-height: 1.2;
}

.card {

    width: 500px;
    height: 550px;
    margin: auto;
    background: rgb(255, 255, 255);
    border-radius: 10px;

}

 a {
    border-color: rgb(0, 153, 0);
    border: 9px solid rgb(0, 153, 0);
    background: rgb(0, 153, 0);
    position: absolute;
    right: 2em;
    text-decoration: none;
    color: white;
}

div {
    height: 350px;
    position: relative;
}


div img {

    position: absolute;

}