@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 12px/1.5 "Poppins", sans-serif;
}
body{
    margin: 2em;
}
img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 4%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
   
}
 .services {
    text-align: center;
    padding-bottom: 1.2em;
}
.services span {
    color: #3A7DC4;
}

.container .all-card{
    display: flex;
    
   gap:1em;

}
 
.all-card article{
    flex: 1 1 30%;
    background: #819DAF;
    border-radius: 4%;
}

.all-card article a {
    background: #3A7DC4 ;
    border:1px solid #323CC4;
    outline: 1px solid #D5D9DB;
    text-decoration: none;
    padding: 0.2em 1.2em;
    font-size: 10px;
    border-radius: 10px;
    color: white;
}

.all-card article h3 {
    padding: 0.5em 0 1em 1em;
}

.all-card article p{
    padding: 0 0 1.5em 1em;
    width: 25em;
}
.all-card div {
    padding-bottom: 1em;
}