* {
    box-sizing: border-box;
}

article {
   
    width: 360px;
   
}

@media (width: 360px){
    article{
        border: 2px solid blue;
        color: red;
    }
}

@media (min-width: 35rem){
    article{
        background: yellow;
        color: black;
    }
}

@media (max-width: 50rem){
    article{
        border: 2px solid blue
    }
}