@import url("https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif");

* {
    margin: 0;
    padding: 0;
}

html {
    font: 12px/1.5 "PT Sans", sans-serif;
}

.body {
    max-width: 1200px;
    margin: 0 auto;

}

img {
    display: block;
    width: 100%;
    height: auto;
}

body {
    background-color: black;
    background-repeat: no-repeat;
    background-image: url(../image/fitness-main.jpg);
    background-size: contain;
    background-position: center -20px;


}

.header-one .container,
.header-two .container {
    max-width: initial;
}

.header-one .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: #D01919;
    height: 0;
    padding: 1em;
}



.header-one .container ul {
    display: flex;


}

.header-one .container li {
    list-style: none;
    padding: 0 0.5em;
}

.header-one .container a {
    text-decoration: none;
    color: white;

}

.header-two .container {
    display: flex;
    justify-content: flex-end;
    padding: 1em;



}


.header-two .container nav ul {
    display: flex;
    gap: 2em;


}

.header-two .container nav li {
    display: block;


}

.header-two .container nav a {
    display: block;
    text-decoration: none;
    color: #CCCCC1;
    padding: 2em;
    font-size: 10px;
}


.header-three .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 4em 2em;
    height: 38em;

}

.header-three .container h1 {
    font-size: 3em;
    font-weight: normal;
    letter-spacing: 0.3em;

}

.header-three .container p {
    max-width: 53ch;
    margin: 1em 0;
    text-align: center;
}

.header-three .container a {
    display: block;
    text-decoration: none;
    color: white;
    background: #D01919;
    padding: 0.5em 1em;
    border-radius: 0.5em;
}


.main .container .welcome {

    background: white;

    padding: 3em;
}


.main .container article {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    flex: 1 1 30%;
}

.main .container .welcome article img {

    width: 19%;

    margin: 1em auto;
}

.main .container .welcome article div,
.main .container .coaches article div {
    text-align: center;
    width: 17em;
}

.main .container .welcome article div h4 {
    padding-bottom: 0.5em;
}

.main .container .welcome h2 {
    text-align: center;
}

.main .container .welcome h2 span {
    display: block;
    margin: 1em auto;
    width: 3ch;
    height: 2px;
    background: #D01919;

}

.main .container .welcome div h4 {
    color: #D01919;
}

.main .container .coaches {
    background: #BFBFBF;

}

.main .container .coaches h2 {
    text-align: center;
    padding: 1em;
}

.main .container .coaches h2 span {
    display: block;
    margin: 1em auto;
    width: 2.5ch;
    height: 2px;
    background: #D01919;

}

.main .container .coaches article img {

    width: 100%;

    margin: 0 auto;
}

.main .container .coaches article div h4 {
    color: #D01919;
    padding-top: 0.5em;
}

.main .container .coaches article div p {
    padding-top: 0.7em;
    padding-bottom: 4em;
    color: #858699;
}

.footer .container {

    background: #D01919;
    text-align: center;

}